Flask>=2.0
ollama>=0.1.0
python-dotenv>=0.19.0
Werkzeug>=2.0 # Généralement inclus avec Flask
pypdf2>=3.0.0       # Pour les PDF
python-docx>=1.0.0    # Pour les .docx (Word)
openpyxl>=3.0.0       # Pour les .xlsx (Excel)